.flexbox {
    display: flex;

    &--header {
        align-items: center;
        justify-content: space-between;
    }

    &--responsive {
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
}

  /*flexbox normal y flexbox responsive*/